sapi-customer-email/src/main/mule/sapi-customer-email.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sapi-customer-email-main">
        <http:listener config-ref="sapi-customer-email-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-customer-email-config" />
		<error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="sapi-customer-email-console">
        <http:listener config-ref="sapi-customer-email-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-customer-email-config" />
		<error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="get:\ping:sapi-customer-email-config">
		<flow-ref doc:name="Flow Reference" doc:id="3de55e00-79b9-4d47-9359-03b28160fb64" name="ping-subflow" />
		<error-handler ref="http-error-handler" />
    </flow>
    <flow name="post:\send-customer-email:application\json:sapi-customer-email-config">
		<flow-ref doc:name="Flow Reference" doc:id="e665088a-8e15-489f-ba2a-995f3b2419d5" name="send-customer-email-subflow" />
		<error-handler ref="http-error-handler" />
    </flow>
</mule>
